<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Coffee</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="/static/css/linearicons.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/owl.carousel.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<!--W3C css-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	</head>
	<body>

		  <header id="header" id="home" style="font-" >
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo" style="margin-right:350px;">
					<a href="{% url 'home' %}">
						<img src="/static/img/logo-new.png" style="width:40px; float:left;" alt="" title="" />
						<h1 style="font-family: 'Poppins', sans-serif;color:white; float:left; margin-left:20px; ">Cafe Olleh?</h1>
					</a>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="#home" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">Home</a></li>
					  <li><a href="#event" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">Event</a></li>
					  <li><a href="#best9" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">Best 9</a></li>
					  <li><a href="{% url 'brandmenu'%}" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">Menu</a></li>
					  <li><a href="{% url 'post'%}" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">Support</a></li>
					  {% if user_name %}
						<li><a href="#" onclick="return false;" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">{{user_name}} 님!</a>
							<ul>
							  <li><a href="{% url 'mypage' %}">내 정보</a></li>
							  <li><a href="{% url 'logout'%}?next={{request.get_full_path}}">Log Out!!</a></li>
							</ul>
						</li>
					  {% else %}
						<li><a href="{% url 'usersapp:login'%}?next={{request.get_full_path}}" style="font-family: 'Poppins', sans-serif;color:white; text-decoration:none;">Log in</a></li>
					  {% endif %}

					</ul>
				  </nav><!-- #nav-menu-container -->
				</div>
			</div>
		  </header><!-- #header -->


		<!-- start banner Area -->
		<section class="banner-area" id="home">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-start">
					<div class="banner-content col-lg-7" >

						<h1>
							Start your Coffee with <br>
							Cafe Olleh?
						</h1>

						<ul class="nav-menu">
							<li><a href="#" class="primary-btn text-uppercase" style="font-size:1em;color:#bca78e;" onclick="return false;">Go Brand!</a>
								<ul>
								  <li><a href="{% url 'brandmenu'%}#StarBucks">> StarBucks</a></li>
								  <li><a href="{% url 'brandmenu'%}#TwosomePlace">> TwosomePlace</a></li>
								  <li><a href="{% url 'brandmenu'%}#TomnToms">> TomnToms</a></li>
								  <li><a href="{% url 'brandmenu'%}#Ediya">> Ediya</a></li>
								  <li><a href="{% url 'brandmenu'%}#MegaCoffee">> MegaCoffee</a></li>
								  <li><a href="{% url 'brandmenu'%}#Hollys">> Hollys</a></li>
								  <li><a href="{% url 'brandmenu'%}#CoffeeBean">> CoffeeBean</a></li>
								  <li><a href="{% url 'brandmenu'%}#CoffeeBay">> CoffeeBay</a></li>
								  <li><a href="{% url 'brandmenu'%}#Angelinus">> Angelinus</a></li>
								  <li><a href="{% url 'brandmenu'%}#Pascucci">> Pascucci</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End banner Area -->



		<!-- Start menu Area -->
		<section class="menu-area section-gap" id="best9">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-10">
						<div class="title text-center">
							<h1 class="mb-10" style="font-family: 'Poppins', sans-serif;">Best Seller</h1>
							<p>많이 찾는 메뉴 한번에 보기</p>
						</div>
					</div>
				</div>
				<div class="row">
					{% for name,comment in comments.items %}
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<a href="{%url 'best9'%}?product={{name}}" style="font-family: 'Poppins', sans-serif;color:black; text-decoration:none;"><h4>{{name}}</h4></a>
									<p class="price float-right">
										<- Go!
									</p>
								</div>
								<p style="font-family: 'Poppins', sans-serif;font-size:12px;">
									{{comment}}
								</p>
							</div>
						</div>
					{%endfor%}
				</div>
			</div>
		</section>
		<!-- End menu Area -->

		  <!-- Start video-sec Area -->
		<section class="video-sec-area pb-100 pt-40" id="event">

			<div class="container">
				<div style="text-align:center;"><h1 style="font-family: 'Poppins', sans-serif;">EVENT</h1></div>
			  	<br>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators" style="color:black;">
				  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel" data-slide-to="1"></li>
				  <li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">

					{% for key,value in adv.items %}
						{% if key == "Ediyaevent"%}
							<div class="item active">
							<a href="{{value}}" target="_black">
								<img src="/static/img/{{key}}.jpg" style="width:300px; height:400px; margin:auto;">
							</a>
							</div>
						{% else %}
							<div class="item">
								<a href="{{value}}" target="_black">
								<img src="/static/img/{{key}}.jpg" style="width:300px; height:400px; margin:auto;">
								</a>
							</div>

						{% endif%}
					{% endfor%}

				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				  <span class="glyphicon glyphicon-chevron-left"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
				  <span class="glyphicon glyphicon-chevron-right"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			</div>
		</section>
		<!-- End video-sec Area -->


		<!-- start footer Area -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>About Us</h6>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
							</p>
							<p class="footer-text">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
					<div class="col-lg-5  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Newsletter</h6>
							<p>Stay update with our latest</p>
							<div class="" id="mc_embed_signup">
								<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
										<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>

									<div class="info pt-20"></div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
						<div class="single-footer-widget">
							<h6>Follow Us</h6>
							<p>Let us be social</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->

		<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="/static/js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script src="/static/js/easing.min.js"></script>
		<script src="/static/js/hoverIntent.js"></script>
		<script src="/static/js/superfish.min.js"></script>
		<script src="/static/js/jquery.ajaxchimp.min.js"></script>
		<script src="/static/js/jquery.magnific-popup.min.js"></script>
		<script src="/static/js/owl.carousel.min.js"></script>
		<script src="/static/js/jquery.sticky.js"></script>
		<script src="/static/js/jquery.nice-select.min.js"></script>
		<script src="/static/js/parallax.min.js"></script>
		<script src="/static/js/waypoints.min.js"></script>
		<script src="/static/js/jquery.counterup.min.js"></script>
		<script src="/static/js/mail-script.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>



