<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Coffee</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--CSS============================================= -->
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <!--W3C Post-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <style>
        .body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}

        </style>
</head>

<body>

    {% if error %}
    <script>
        alert("{{error}}");
    </script>
    {% endif%}


          <header id="header" id="home" style="background-color:#423433;">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                    <a href="{% url 'home' %}">
                        <img src="/static/img/logo-new.png" style="width:40px; float:left;" alt="" title="" />
                        <h1 style="color:white; float:left; margin-left:20px; font-family: 'Poppins', sans-serif;">Cafe Olleh?</h1>
                    </a>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active" style="font-family: 'Poppins', sans-serif;"><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'home'%}#event" style="font-family: 'Poppins', sans-serif;">Event</a></li>
                      <li><a href="{% url 'home'%}#best9" style="font-family: 'Poppins', sans-serif;">Best 9</a></li>
                      <li><a href="{% url 'brandmenu'%}" style="font-family: 'Poppins', sans-serif;">Menu</a></li>
                      <li><a href="#review" style="font-family: 'Poppins', sans-serif;">Support</a></li>
                      {% if user_name %}
                        <li><a href="#" onclick="return false;">{{user_name}} 님!</a>
                            <ul>
                              <li><a href="{% url 'mypage' %}">내 정보</a></li>
                              <li><a href="{% url 'logout'%}?next={{request.get_full_path}}" style="font-family: 'Poppins', sans-serif;">Log Out!!</a></li>
                            </ul>
                        </li>
                      {% else %}
                        <li><a href="{% url 'usersapp:login'%}?next={{request.get_full_path}}" style="font-family: 'Poppins', sans-serif;">Log in</a></li>
                      {% endif %}

                    </ul>
                  </nav><!-- #nav-menu-container -->
                </div>
            </div>
          </header><!-- #header -->

    <!-- Start Post area -->
    <div class="container" style="margin-top:100px;">
        <h2>건의 사항</h2>
        <div>
            <p style="display:inline;">우리 서비스의 불편사항을 알려주세요.</p>
            <button id="write_button" style="float:right; margin-bottom:10px; background-color:#b68834; color:white; opacity:0.8;" type="button" class="btn">글쓰기</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:10%;">번호</th>
                    <th style="width:40%; text-align:center;">제목</th>
                    <th style="width:10%;">작성자</th>
                    <th style="width:20%;">작성일</th>
                    <th style="width:10%;">조회수</th>
                    <th style="width:10%;">추천수</th>
                </tr>
            </thead>

            <tbody>
                {% for data in Post%}
                <tr onclick="view({{data.id}})">
                    <td>{{data.id}}</td>
                    <td style="font-weight:bolder;">{{data.title}}</td>
                    <td>{{data.writer.username}}</td>
                    <td>{{data.writedate |date:"Y-m-d" }}</td>
                    <td>{{data.cnt}}</td>
                    <td>{{data.like}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- end Post area-->

    <!-- Start Pagination-->
        <ul class="pagination justify-content-center">
            {% if Post.has_previous %}
              <li class="page-item"><a class="page-link" href='?page={{Post.number|add:-1}}'>Previous</a></li>
            {% endif %}
            {% for i in total%}
              {% if i == current %}
                <li class="page-item active"  ><a class="page-link" style="background-color:#b68834; border-color:#b68834;" href="?page={{i}}">{{i}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" style="color:black;"  href="?page={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}
            {% if Post.has_next %}
              <li class="page-item"><a class="page-link"  href='?page={{Post.number|add:+1}}'>Next</a></li>
            {% endif%}
        </ul>
    <!-- End Pagination-->


        <!-- start footer Area -->
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>About Us</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                            </p>
                            <p class="footer-text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Newsletter</h6>
                            <p>Stay update with our latest</p>
                            <div class="" id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                        <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                        <div style="position: absolute; left: -5000px;">
                                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                        </div>

                                    <div class="info pt-20"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                        <div class="single-footer-widget">
                            <h6>Follow Us</h6>
                            <p>Let us be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->


    <script>
        $('#write_button').on("click",function(){
            location.href="{% url 'write' %}";
        });

        function view(id){
            location.href="{% url 'update_cnt'%}?id="+id+"&loc={% url 'view'%}?view="+id;
            //location.href="{% url 'view'%}?view="+id;
        }

    </script>

    <script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/easing.min.js"></script>
    <script src="/static/js/hoverIntent.js"></script>
    <script src="/static/js/superfish.min.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/mail-script.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>



